{% extends 'base.html' %}
{% load static %}

{% block title %}Documents | Darshan's Portfolio{% endblock %}

{% block content %}
<h2>My Documents</h2>
<ul class="documents-grid">
    <li><a href="{% static 'docs/resume.pdf' %}" target="_blank">Resume</a></li>
    <li><a href="{% static 'docs/Certificate1.pdf' %}" target="_blank">Google Cloud Associate Readiness Program Certificate</a></li>
    <li><a href="{% static 'docs/Certificate2.pdf' %}" target="_blank">EF SET - English Proficiency Test</a></li>
</ul>
{% endblock %}
